body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff7f0;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
    text-align: center;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    width: 95%;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e63939;
}

.navbar {
    background: #ff4d4d;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.admin-btn {
    background: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}
